@import url("https://use.typekit.net/yhv5gix.css");

body {
  font-family: "halyard-text", sans-serif;
  font-weight: 300;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "halyard-display", sans-serif;
  font-weight: bold;
}

b,
strong {
  font-weight: bold;
}

.landing {
  background-image: url("images/library-banner-02.jpeg");
  background-size: cover;
  background-position: center;
}

.new-books-slider {
  height: 250px;
}